# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
log.txt
debug.log

# System files
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
.cache/
.tmp/

# Editor folders
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Coverage / test output
coverage/
*.lcov

# Forever / PM2 logs
pids
*.pid
*.seed
*.pid.lock
